body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/*Navigation*/
.shaiza-class-nav {
    background-color: #8B2612;
    padding: 20px;
    text-align: center;
}

    .shaiza-class-nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 15px;
        font-size: 18px;
    }

/*section boxes*/
.shaiza-class-container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    background-color: /*#B7947E*/ #C7AC9A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*footer*/
.shaiza-class-footer {
    text-align: center;
    padding: 10px;
    background-color: #8B2612;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Breakpoint for mobiles*/
@media (max-width: 767px) {
    .shaiza-class-container {
        padding: 10px;
    }
}

/*Breakpoint for laptop*/
@media (min-width: 768px) {
    .shaiza-class-container {
        padding: 20px;
    }
}

/*for table*/
.shaiza-class-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .shaiza-class-table th, .shaiza-class-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

.shaiza-class-form {
    margin-top: 20px;
}

    .shaiza-class-form input, .shaiza-class-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

.shaiza-class-skill-box {
    width: 300px; 
    height: 180px;
    margin: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .shaiza-class-skill-box img {
        width: 100%;
        height: auto;
        display: block;
    }

.shaiza-class-diagonal-left {
    position: relative;
    top: 20px;
    margin-left: 100px;
}

.shaiza-class-diagonal-right {
    position: relative;
    top: 0;
    margin-left: 800px;
}

.shaiza-class-description-box {
    padding: 10px;
}

    .shaiza-class-description-box h3 {
        margin-top: 0;
    }

