/* Cool Theme */
body.cool {
    background-color: #D4E6F7;
    color: #052747; 
}

    body.cool .card {
        background-color: #E2E7EC; 
    }

/* Dark Theme */
body.dark {
    background-color: #333;
    color: #fff; 
}

    body.dark .card {
        background-color: #444; 
    }

    body.dark .modal-content {
        background-color: #222;
        color: #fff;
    }

        body.dark .modal-content .modal-header {
            background-color: #333;
            color: #fff;
        }

        body.dark .modal-content .modal-body,
        body.dark .modal-content .modal-footer {
            background-color: #222;
            color: #fff;
        }


/* Happy Theme */
body.happy {
    background-color: #F8D085; 
    color: #5B4418; 
}

    body.happy .card {
        background-color: #F6E0BD; 
    }


.card-title {
    flex: 1; 
    margin-right: 10px; 
}

.card-title,
.card-body a {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}


